<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .preview {
        width:600px; height:400px;
        -webkit-transform:scale(.25);
        -ms-transform:scale(.5);
        transform:scale(.5);
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
        border:4px solid blue;
        margin:0 0 -300px 0;
        display: inline-block;
        float: left;
    }
</style>
<head>
    <title id="pageTitle">Welcome</title>
</head>
<body>
<h1>Welcome to demo project</h1>
<div style="">
    <form action="#" th:action="@{/addRssLink}" method="post">
        <table style="display: inline-block;float: left;">
            <tr>
                <td><label th:text="Link" /></td>
                <td><input th:disabled="${entity == null || entity.email == null}" type="text" name="link" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add Link" /></td>
            </tr>
        </table>
    </form>
    <div th:if= "${entity == null}">
        <form action="#" th:action="@{/saveEmail}" method="post">
            <table>
                <tr>
                    <td><label th:text="Email" /></td>
                    <td><input type="text" name="email" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div th:if= "${entity != null}">
        <table>
            <tr>
                <td><label th:text="Email" /></td>
                <td><span th:text="${entity.email}" ></span></td>
            </tr>
            <tr>
                <td><input disabled="true" type="submit" value="Submit" /></td>
            </tr>
        </table>
    </div>

</div>
<br/>
<iframe class="preview" th:src="${previewUrl}">
    <p>Your browser does not support iframes.</p>
</iframe>
<table border="1">
    <thead>
    <tr>
        <th>Actions</th>
        <th class="text-center">LINK</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="link : ${entity?.getLinks()}">
        <td>
        <form method="POST" th:action="@{/deleteLink(link=${link})}">
            <button type="submit" name="submit" value="value" class="link-button">DELETE</button>
        </form>
        </td>
        <td th:text="${link}"></td>
    </tr>
    </tbody>
</table>

<br/>
<div style="position: absolute;
    top: 600px;
    left: 500px;">
    <table style="display: inline-block;float: left;">
        <tr>
            <td>
                <form method="POST" th:action="@{/saveToDb}">
                    <button type="submit" style="display: inline-block;" name="submit" value="value" class="link-button">SAVE</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="@{/sendEmail}">
                    <button type="submit" name="submit" value="value" class="link-button">SEND</button>
                </form>
            </td>
        </tr>
</div>
</body>
</html>